@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-LightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-BoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-BlackItalic.ttf') format('truetype');
}


/* Poppins-100normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('/fonts/Poppins/Poppins-Thin.ttf')  format('truetype');
}

/* Poppins-100italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url('/fonts/Poppins/Poppins-ThinItalic.ttf')  format('truetype');
}

/* Poppins-200normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf')  format('truetype');
}

/* Poppins-200italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf')  format('truetype');
}

/* Poppins-300normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Poppins/Poppins-Light.ttf')  format('truetype');
}

/* Poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Poppins/Poppins-LightItalic.ttf')  format('truetype');
}

/* Poppins-400normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Poppins/Poppins-Regular.ttf')  format('truetype');
}

/* Poppins-400italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Poppins/Poppins-Italic.ttf')  format('truetype');
}

/* Poppins-500normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Poppins/Poppins-Medium.ttf')  format('truetype');
}

/* Poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Poppins/Poppins-MediumItalic.ttf')  format('truetype');
}

/* Poppins-600normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf')  format('truetype');
}

/* Poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf')  format('truetype');
}

/* Poppins-700normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Poppins/Poppins-Bold.ttf')  format('truetype');
}

/* Poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Poppins/Poppins-BoldItalic.ttf')  format('truetype');
}

/* Poppins-800normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf')  format('truetype');
}

/* Poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf')  format('truetype');
}

/* Poppins-900normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:url('/fonts/Poppins/Poppins-Black.ttf')  format('truetype');
}

/* Poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/Poppins/Poppins-BlackItalic.ttf')  format('truetype');
}

/* Poppins-900italic - latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: italic;
  font-display: swap;
  font-weight: auto;
  src: url('/fonts/Belle/LaBelleAurore-Regular.ttf')  format('truetype');
}