
.error-main{
    padding-top:100px;
    padding-bottom:50px;

    img{
        width:100%;
        padding-bottom: 50px;
    }

    .title{
        font-family: Poppins;
        font-weight: 600;
        font-size: 34px;
        line-height: 44px;
        color: #000000;
        padding-bottom:25px;
        text-align: center;
    }

    .text{
        font-family: Poppins;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #868686;
        padding-bottom:25px;
        span{
            color:#000000;
        }
    }

    input{
        height: 60px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #868686;
        border:1px solid rgba(158, 158, 158, 0.2);
        border-right: none;
        background: #F8F8F8;
    }

    input:focus{
        background:#F8F8F8;
        outline: none;
        border:1px solid rgba(158, 158, 158, 0.2);
        border-right:none;
    }


    input:active{
        background:#F8F8F8;
        outline: none;
        border:1px solid rgba(158, 158, 158, 0.2);
    }

    button{
        background:transparent;
        border-top: 1px solid rgba(158, 158, 158, 0.2);
        border-right: 1px solid rgba(158, 158, 158, 0.2);
        border-bottom: 1px solid rgba(158, 158, 158, 0.2);
        padding-right: 20px;
        border-left:none;
        background: #F8F8F8;
        .fa{
            font-size: 22px;
        }
    }
}
