.about-main-head{
    padding: 50px 0px;
    .content-about-main{
        .sub-title {
            font-family: La Belle Aurore;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            color: #000000;
            padding-bottom: 20px;
        }

        .text{
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #5B5B5B;
            padding-bottom: 15px;
        }

        a {
            background: white;
            border-radius: 5px;
            padding: 14px 16px;
            width: 50%;
            margin-top: 10px;
            border:1px solid #202F59;
            margin: 10px auto;
            display: block;
        }

        span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #202F59;
            margin-right: 10px;
            display: initial;
        }
    }
}


.why-us-process{
    padding-top: 50px;
    background: #F9F4F0;
    .content-title-head{
        padding-bottom: 50px;
        .sub-title {
            font-family: La Belle Aurore;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            padding-bottom: 15px;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            color: #000000;
            padding-bottom: 20px;
        }
    }

    .item-why-us-mqn{
        padding-bottom: 50px;
        .icon-item-why{
            img{
                margin: 0 auto;
                display: block;
                width: 100%;
                height: 80px;
            }
        }
        
        .content-item-why-us{
            .title-item{
                font-family: Poppins;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                text-align: center;
                padding: 15px 0px;
            }
    
            .text-item{
                font-family: Poppins;
                font-size: 16px;
                line-height: 26px;
                color: #868686;
                text-align: center;
            }
        }
    }
}

.service-main-why-mqn{
    padding: 50px 0px 0px 0px;
    background: url('/img/background-about-2.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    .item-servie-main-mqn{
        padding-bottom: 50px;
        img{
            margin: 0 auto;
            display: block;
            padding-bottom: 30px;
            width: 80px;
            height: 100%;
        }

        .number-text{
            font-family: Poppins;
            font-weight: 600;
            font-size: 45px;
            line-height: 28px;
            color: #FFFFFF;
            padding-bottom: 15px;
            text-align: center;
        }

        .text{
            font-family: La Belle Aurore;
            font-size: 28px;
            line-height: 28px;
            color: #DB834E;
            text-align: center;
        }
    }
}


.our-team-about{
    padding-top:50px;
    .content-title-head{
        .sub-title {
            font-family: La Belle Aurore;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            padding-bottom: 15px;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            color: #000000;
            padding-bottom: 50px;
        }
    }

    .item-team-menber-main{
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 24px;
        .avata-team-menber{
            width: 225px;
            height: 100%;
            object-fit: cover;
            margin: 0 auto 30px;
            display: block;
        }

        .content-info-team{
            border-bottom: 1px solid #EAEAEA;
            margin-bottom: 30px;
            padding-bottom: 30px;
           .title-name{
            font-family: Poppins;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: #000000;
           }

           .text-decs{
            font-family: Poppins;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #868686;
           }
        }

        ul{
            padding: 0;
            display: flex;
            flex-direction: row;
            li{
                margin-right: 50px;
                img{
                    width: 30px;
                }
            }
        }   

   
    }
}


.backgrond-white{
    background: white;
}

@media (min-width: 992px) {
    .about-main-head{
        background: url(/img/background-line-about1.png);
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        padding: 80px 0px;
        .img-about-pc{
            img{
                width: 100%;
            }
        }

        .content-about-main{
            padding-left: 100px;
            .sub-title{
                text-align: left;
            }

            .title{
                text-align: left;
                width: 40%;
            }

            .text{
                text-align: left;
                width: 60%;
            }

            a{
                display: unset;
                position: relative;
                top: 40px;
            }
        }
    }

    .why-us-process{
        padding: 100px 0px;
        background-image: url('/img/background-line-about2.png');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        background-color: #F9F4F0;
        .item-why-us-mqn{
            display: flex;
            flex-direction: row;
            .icon-item-why{
                width: 50%;
                padding-right: 30px;
            }
           

            .content-item-why-us{
                margin-top: -10px;
                .title-item{
                    text-align: left;
                    padding: 10px 0 0px 0;
                    font-size: 18px;
                    line-height: 30px;
                }
    
                .text-item{
                    text-align: left;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    .service-main-why-mqn{
        padding:100px 0px 30px 0px;
        .item-servie-main-mqn{
            img{
                padding-bottom: 50px;
            }
        }
    }

    .our-team-about{
        padding-top: 100px;
        .item-team-menber-main{
            .avata-team-menber{
                width: 170px;
            }

            .content-info-team{
                .title-name{
                    font-size: 20px;
                    line-height: 30px;
                }

                .text-decs{
                    font-size: 16px;
                    line-height: 26px;
                }
            }


            ul{
                li{
                    margin-right: 48px;
                    img{
                        width: 24px;
                    }
                }
            }


        }
    }
}

@media (min-width: 1366px) {

}

@media (min-width: 1600px) {


}