.header-sub-title-page-mqn{
    background: url('/img/background-sub-page.png') no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
    .content-title-sub-page{
        position: absolute;
        left: 50%;
        top: 13%;
        transform: translate(-50%, 50%);
        width: 100%;
        text-align: center;
        .title{
            font-family: Poppins;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            color: #FFFFFF;
            position: relative;
             padding-bottom:10px;
        }
         .sub-title{
                a{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF !important;
                }

                span{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color:#C6C5C5 !important;
                }
            }
    }
}

.main-contact{
    padding-top: 50px;
    .item-contact-address{
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;
        .item-contact-main{
            border-bottom: 1px solid #EAEAEA;
            padding-bottom: 20px;
            margin-bottom: 20px;
            &:last-child{
                border-bottom: none;
            }
            img{
                margin: 0 auto 10px;
                display: block;
            }

            .info-content-contact-mqn{
                .title{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #000000;
                    padding-bottom: 10px;
                    text-align: center;
                }
    
                .text-contact{
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    color: #868686;
                    text-align: center;
                }
    
                a{
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    color: #DB834E;
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .form-contact-main{
        .title{
            text-align: center;
            font-family: Poppins;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #000000;
            padding-bottom: 10px;
        }

        .text{
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #868686;
            padding-bottom: 20px;
        }

      
        input{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            height: 60px;
            color: rgba(134, 134, 134, 0.5);
        }

        textarea{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            color: rgba(134, 134, 134, 0.5);
        }

        button{
            background: #DB834E;
            padding: 10px 25px;
            margin: 0 auto;
            display: block;
            font-family: Poppins;
            font-size: 18px;
            line-height: 28px;
            color: #FFF9F9;
        }
    }
}

.contact-map{
    padding: 0px 24px 50px;
}

@media (min-width: 992px) {
    .main-contact{
        .item-contact-address{
            .item-contact-main{
                padding-bottom: 20px;
                margin-bottom: 20px;
                padding-top: 20px;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 20px;
                }

                .info-content-contact-mqn{
                    display: inline-block;
                    vertical-align: middle;
                    a,
                    .text-contact,
                    .title{
                        text-align: left;
                    }

                    .title{
                        padding-bottom: 5px;
                    }
                }
            }
        }

        .form-contact-main{
            .title{
                text-align: left;
            }

            .text{
                text-align: left;
            }

            textarea,
            input{
                margin-bottom: 20px;
            }

            button{
                margin: 0;
            }
        }
    }

    .contact-map{
        padding: 100px 32px 100px;
    }
}