
.destination{
    padding-top:50px;
    .item-list-destination{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        .item-destination{
            position:relative;
            padding-bottom: 30px;
            img{
                width: 100%;
            }
            .content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .title{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 34px;
                    color: #FFFFFF;
                    padding-bottom: 5px;
                }

                .text{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.perfect-destination{
    .content-perfect{
        background-size:contain;
        background-position: center;
        .w-40-text{
            width: 100%;
            margin: 0 auto;
        }
    }

    .center{
        .text-center{
            text-align:center;
        }
    }

    .item-word-globo{
        .title-main-list-word{
            font-family: Poppins;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            padding: 30px 0px 10px;
            text-align: center;
        }
    }
  
}


@media (min-width: 992px) {
    .destination{
        background: white;
        position: relative;
        .shape-choose{
            background: url(/img/shapte.png) no-repeat;
            mix-blend-mode: difference;
            background-size: cover;
            width: 100%;
            height: 110px;
            position: absolute;
            bottom: 35%;
        }
        .item-list-destination{
            flex-direction: row; 
            .item-destination{
                padding-right: 40px;
                width: 20%;
                padding-left: 40px;
                position: relative;
                &:nth-child(1){
                    top: 60px;
                };
                &:nth-child(2){
                    top: 30px;
                };
                &:nth-child(3){
                    top: 0px;
                };
                &:nth-child(4){
                    top: 30px;
                };
                &:nth-child(5){
                    top: 60px;
                }
                .content{
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -55%);
                }
            }
        }
    }

    .perfect-destination{
        padding-top: 0;
        .content-perfect{
            .w-40-text{
                width: 40%;
            }
        }

        .item-word-globo{
            .title-main-list-word{
                text-align: left;
            }
        }
    }
}