.contact-hotline {
    background: #F9F4F0;
    padding-top: 50px;

    .info-contact-hotline {
        padding-bottom: 24px;
        text-align: center;
        .text {
            font-family: Poppins;
            font-size: 18px;
            line-height: 28px;
            color: #9E9E9E;
            text-align: center;
            padding-bottom: 20px;
        }

      
        .item-contact-mqn{
            .icon-contact {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 34px;
            }

            .text-contact {
                display: inline-block;
                vertical-align: middle;
                font-family: Poppins;
                font-weight: 600;
                font-size: 22px;
                line-height: 32px;
                color: #202F59;
            }
        }
      

        ul li{
           display: inline-block;
           margin-right: 18px;
        }
    }
}


.footer{
    background: #202F59;
    padding: 50px 0px 50px 0px;
    .about-footer{
        text-align: center;
        .logo-footer{
            padding-bottom: 30px;
        }

        .text{
            font-family: Poppins;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #9E9E9E;
            padding-bottom: 20px;
        }

        .icon-map{
            padding-bottom: 20px;
            width: 40px;
        }

        .address{
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        a{
            background: white;
            border-radius: 5px;
            padding: 14px 20px;
            width: 50%;
            span{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #202F59;
                margin-right: 10px;
                display: initial;
            }
        }
    }

    .menu-footer{
        padding-top: 50px;
        .title-menu{
            font-family: Poppins;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
        }

        ul{
            text-align: center;
            padding: 0;
        }
        li a{
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            color: #9E9E9E;
        }
    }

    .form-contact-footer{
        padding-top: 10px;
        .sub-title{
            font-family: Poppins;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 15px;
        }

        .text{
            font-family: Poppins;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #9E9E9E;
            padding-bottom: 20px;
        }

        input{
            border: 2px solid rgba(158, 158, 158, 0.6);
            box-sizing: border-box;
            border-radius: 5px;
            padding: 15px;
            background: transparent;
            width: calc(100% - 20px);
            margin-right: 20px;
            color: white;
        }

        button{
            background: #DB834E;
            border-radius: 5px;
            padding: 15px;
            width: 100%;
            border: 2px solid #DB834E;
            span{
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                margin-right: 2px;
            }
        }
    }
}

.copyright{
    background: #121D39;
    margin-top: -1px;
    .text{
        font-family: Poppins;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #9E9E9E;
        text-align: center;
        span{
            color: #DB834E;
        }
    }
}

@media (min-width: 992px) {
    .contact-hotline{
        .info-contact-hotline{
            text-align: left;
            position: relative;
            height: 80px;
            margin-bottom: 50px;
            .text{
                text-align: left;
            }

            .item-contact-mqn{
                position: absolute;
                bottom: 0;
            }

            ul{
                padding: 0;
            }

            a img{
                width: 40px;
                margin-top: -10px;
            }
        }
    }

    .footer{
        .about-footer{
            text-align: left;

            .logo-footer{
                padding-bottom: 20px;
            }

            .address{
                text-align: left;
                font-size: 14px;
                line-height: 24px;
                width: 300px;
            }

            .text{
                text-align: left;
                width: 350px;
            }

            .icon-map{
                float: left;
                margin-right: 10px;
            }
        }

        .menu-footer{
            padding-top: 12px;
            .title-menu{
                text-align: left;
                padding-bottom: 30px;
            }

            ul{
                text-align: left; 
            }

            li a{
                text-align: left; 
                font-size: 14px;
                line-height: 36px;
            }
        }

        .form-contact-footer{
            .sub-title{
                text-align: left;
                padding-bottom: 30px;
            }

            .text{
                text-align: left;
            }

            input{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}