
.header-menu {
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    z-index: 99;
    top: 0;
    box-shadow: 0px 3px 40px #0000002e;

    .logo {
        width: 100%;

        img {
            width: 150px;
            margin-top: -25px;
        }
    }

    .top-menu {
        margin-top: -25px;
        cursor: pointer;
    }

    .menu3{
        position: absolute;
        right: 50px;
    }
}

.menuMobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.15);

    a {
        font-family: Poppins;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
    }

    .active {
        color: #DB834E;
    }
}

.infoHeaderMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.15);

    a {
        font-family: Poppins;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
    }

    .header-info-menu-top {
        padding: 0px 24px;

        .logo-info-menu {
            padding: 10px 0px 30px 0px;
            margin: 0 auto;
            display: block;
            width: 170px;
        }

        .text {
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #6B6B6B;
            padding-bottom: 20px;
        }

        .item-contact-address {
            padding-bottom: 15px;

            .sub-title {
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #000000;
                padding-bottom: 5px;
            }

            .text-contact-info {
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #6B6B6B;

                span {
                    color: #DB834E;
                }
            }
        }

        ul {
            padding: 10px 0px;
        }

        ul li {
            display: inline-block;
            margin-right: 10px;
            padding: 0;
        }

        li a {
            padding: 0;
        }
    }

}

@media (min-width: 992px) {
    .header-menu {
        .customer-menu-pc {
            padding: 0;

            ul {
                margin-top: -18px;
                margin-left: 40px;
            }

            li a {
                font-family: Poppins;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #000000 !important;
                margin-right: 20px;
                &:hover{
                    color:#DB834E !important
                }
                .cham {
                    background: #DB834E;
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    margin-left: 5px;
                }
            }

            .active {
                a {
                    color: #DB834E !important;
                }
            }

            .login-contact-mqn {
                display: flex;
                flex-direction: row;
                position: absolute;
                right: 2%;
                top: 37%;

                .telephone-header-mqn {
                    border-right: 1px solid #C6C5C5;
                    ;
                    margin-top: -10px;
                    padding-right: 20px;
                    margin-right: 20px;
                    height: 28px;

                    .tele-phone {
                        display: inline-block;
                        vertical-align: middle;
                        width: 18px;
                        margin-top: 2px;
                        margin-right: 10px;
                    }

                    .phone-number-mqn {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: Poppins;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 26px;
                        color: #000000;
                    }
                }

                .header-contact-login-mqn {
                    .person-login {
                        margin-top: -18px;
                        margin-right: 10px;
                    }

                    .menu2 {
                        margin-top: -18px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1366px) {}

// @media (min-width: 1140px) {}
// @media (min-width: 1200px) {}
// @media (min-width: 1280px) {}
@media (min-width: 1600px) {}
