@import './home/scope-project.scss';
@import './home/list-scope.scss';
@import './home/best-project.scss';
@import './home/news.scss';
@import './home/slide.scss';

* {
    box-sizing: border-box;
}


*:focus{
    outline: none !important;
}

.color-white {
    color: white !important;
}

.color-blue {
    color: #202F59 !important;
}


.green {
    color: #2DD75D !important;

}

.color-orange {
    color: #DB834E !important;
}

.container-fluid {
    padding: 24px;
}

.none-border {
    border: none !important;
}

.page-link:hover{
    background-color:unset !important;
}

ul li{
    list-style-type: none;
}

.mb-0{
        margin-bottom: 0 !important;
}

.banner-header {
    background: url('/img/background-header.png') no-repeat;
    background-size: cover;
    height: 450px;
    background-position: 10%;
    position: relative;

    .content-header {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 60%);
        width: 100%;

        .text {
            font-family: La Belle Aurore;
            font-size: 28px;
            line-height: 37px;
            margin: 0 auto 12px;
            color: #DB834E;
            text-align: center;
        }

        h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 42px;
            text-align: center;
            margin-bottom: 30px;
        }

        a {
            background: #202F59;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            margin-right: 10px;
            display: initial;
        }
    }
}

.banner-search-option {
    background: rgba(198, 197, 197, 0.1);
    width: 100%;
    padding: 0px 14px;

    .list-option-search {
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;

        .item-option-search {
            padding: 20px;
            border-bottom: 1px solid #F4F3F3;
            flex: 100%;

            .img-icon {
                margin-right: 20px;
                display: inline-block;
                vertical-align: middle;
                width: 32px;
            }

            .w-24 {
                width: 24px;
            }

            .content {
                vertical-align: middle;
                display: inline-block;

                .title {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }

                .text {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                    color: #9E9E9E;
                }
            }

            button {
                background: #DB834E;
                border: none;
                width: 100%;
                padding: 10px 20px;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    width: 20px;
                }

                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.banner-top {
    .title-section {
        padding: 50px 0px;
        margin: 0 auto;

        .sub-title {
            font-family: La Belle Aurore;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 42px;
            text-align: center;
            color: #000000;
        }
    }

    .content-service {
        width: 100%;
        .item-service {
            padding: 16px 24px 32px;
            background-size: cover !important;
            width: auto;
            border-radius: 20px;
            margin-bottom: 30px;

            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 42px;
                color: #FFFFFF;
                margin-bottom: 10px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .text {
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 30px;
            }

            a {
                background: white;
                border-radius: 5px;
                padding: 14px 20px;
                width: 50%;
            }

            span {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #202F59;
                margin-right: 10px;
                display: initial;
            }
        }
    }
}

.menber-yet {
    padding-bottom: 50px;

    .title {
        font-family: Poppins;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin-bottom: 10px;
    }

    .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #6F6E6E;
        margin-bottom: 30px;
    }

    .content-menber-yet {
        img {
            margin: 0 auto;
            padding-bottom: 18px;
            display: block;
        }
    }

    .button-menber{
        .button-login {
            float: left;
            a {
                border-radius: 5px;
                padding: 14px 16px;
                margin-right: 10px;
            }
    
            span {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 26px;
                margin-right: 10px;
                display: initial;
            }
        }
    }
  

    .orange {
        a {
            background: #DB834E;
            color: white;
            border: 1px solid #DB834E;
        }
    }

    .blue {
        a {
            background: white;
            color: #202F59;
            border: 1px solid #202F59;

        }
    }
}

.poputour {
    background: #F9F4F0;
    padding-top: 50px;

    .content-title-poputour {
        margin: 0 auto;
        padding-bottom: 50px;

        .sub-title {
            font-family: La Belle Aurore;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-size: 34px;
            line-height: 50px;
            text-align: center;
            color: #000000;
            font-weight: 600;
        }
    }

    .list-popular-tour {
        width: 100%;

        .item-tour {
            background: #FFFFFF;
            border-radius: 10px;
            margin-bottom: 28px;

            .content-header-tour {
                position: relative;

                .avata-tour {
                    border-radius: 10px;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .item-tag-time {
                    position: absolute;
                    bottom: -15px;
                    left: 15px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
                    border-radius: 5px;
                    padding: 10px;
                    width: calc(100% - 30px);

                    .item-time {
                        width: 100%;

                        img {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            width: 16px;
                        }

                        .text {
                            display: inline-block;
                            vertical-align: middle;
                            font-family: Poppins;
                            font-size: 14px;
                            line-height: 22px;
                            color: #000000;
                        }
                    }

                    .fa {
                        margin-top: 3px;
                        margin-right: 3px;
                        float: right;
                    }
                }
            }

            .content-info-tour {
                padding: 18px;

                .title {
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #000000;
                    padding: 12px 0px;
                }

                .item-map {
                    padding-bottom: 22px;
                    margin-left: 0px;
                    border-bottom: 1px solid #DADADA;
                    margin-bottom: 22px;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 6px;
                    }

                    .location {
                        vertical-align: middle;
                        display: inline-block;
                        font-family: Poppins;
                        font-size: 16px;
                        line-height: 24px;
                        color: #9E9E9E;
                    }
                }

                .price-tour {
                    .from {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        color: #9E9E9E;
                    }

                    .price {
                        font-family: Poppins;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 36px;
                        color: #DB834E;
                    }
                }

                a {
                    position: absolute;
                    padding-top: 26px;

                    span {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        color: #202F59;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

.perfect {
    padding-top: 50px;

    .content-perfect {
        background: url('/img/map-background.png') no-repeat;
        background-size: cover;
        padding-bottom: 50px;

        .subtitle {
            font-family: La Belle Aurore;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 38px;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #000000;
            padding-bottom: 10px;
        }

        .text {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #6B6B6B;
            padding-bottom: 10px;
        }

        .location-map {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #000000;

            span {
                color: #9E9E9E;
            }
        }
    }

    .slide-tour-perfect {
        .item-tour-perfect {
            position: relative;
            height: 380px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            .item-background {
                position: absolute;
                top: 0;
                background: linear-gradient(359.38deg, #202F59 0.48%, rgba(32, 47, 89, 0.3) 49.95%, rgba(32, 47, 89, 0) 99.42%);
                width: 100%;
                height: 100%;
                padding: 24px;
                border-radius: 10px;
            }

            .title-tour {
                font-family: Poppins;
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                color: #FFFFFF;
                position: absolute;
                bottom: 20px;
                padding-left: 24px;
            }

            .number-tour {
                font-family: Poppins;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                position: absolute;
                bottom: 20px;
                right: 24px;
                padding-right: 24px;
            }
        }
    }
}

.partner-home-slide-group {
    position: relative;

    .btn-back {
        position: absolute;
        left: 0px;
        top: calc(45% - 14px);
    }

    .btn-next {
        position: absolute;
        right: 0px;
        top: calc(45% - 14px);
    }
}

.slick-arrow.slick-hidden {
    display: block;
}

.choose-us {
    padding-top: 50px;

    .content-why-choose-us {
        padding-bottom: 50px;

        .sub-title {
            font-family: La Belle Aurore;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-weight: 600;
            font-size: 34px;
            line-height: 44px;
            text-align: center;
            color: #000000;

        }
    }

    .item-choose-us {
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto 20px;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
        }

        .text {
            font-family: Poppins;
            font-size: 16px;
            text-align: center;
            color: #9E9E9E;
        }
    }
}

.latest-deal {
    padding-top: 50px;

    .container-fluid {
        padding: 0;
        overflow-x: hidden;
    }

    .img-header-latest {
        background: url('/img/background-img.png') no-repeat;
        background-size: cover;
        padding-bottom: 100%;
        width: 100%;
    }

    .content-lastest-mqn {
        background-color: #202F59;
        background-image: url('/img/shape2.png');
        background-size: cover;
        padding-bottom: 30px;
        width: 100%;
        padding: 0px 24px 50px;
        position: relative;

        .sub-title {
            font-family: La Belle Aurore;
            font-size: 34px;
            line-height: 44px;
            text-align: center;
            color: #DB834E;
            padding: 50px 0px 10px 0px;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        .text {
            font-family: Poppins;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        .text-number {
            font-family: Poppins;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: #DB834E;
            display: block;
        }

        #days::first-letter {
            color:transparent;
        }

        #days{
            margin-left: -15px;
        }

        .text-desc {
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }

        .item-border-bottom {
            background: #DB834E;
            border-radius: 5px 5px 0px 0px;
            position: absolute;
            bottom: 0;
            width: calc(100% - 70px);
            height: 8px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.customer {
    padding-top: 50px;
    background: #F9F4F0;

    .content-header-customer {
        .sub-title {
            font-family: La Belle Aurore;
            font-size: 34px;
            line-height: 34px;
            text-align: center;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            padding-bottom: 10px;
        }
    }

    .item-customer-user {
        .feedback {
            .text {
                font-family: Poppins;
                font-size: 16px;
                line-height: 28px;
                text-align: center;
                color: #000000;
                padding-bottom: 20px;
            }
        }

        .user-customer{
            display: table;
            margin: 0 auto;
            width: 320px;
            .avat-customer {
                float: left;
                margin-right: 50px;
                margin-top: 10px;
                img {
                    display: inline;
                    margin-right: -25px;
                    width: 60px;
                }
    
                .quot {
                    position: relative;
                    z-index: 1;
                }
            }
    
            .item-info-feedback {
                padding-left: 20px;
    
                .fa{
                    margin-right: 5px;
                }
    
                .name {
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                }
    
                .loaction {
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    color: #868686;
                }
            }
        }
       
    }

    .carousel-indicators li {
        background-color: #E5E5E5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 1;
        margin-right: 10px;
    }

    .carousel-indicators .active {
        background-color: #DB834E;
        width: 15px;
        height: 15px;
        top: -3px;
        position: relative;
    }

    .carousel.pointer-event {
        height: 300px;
    }

}

.our-blog {
    padding-top: 50px;

    .content-header-blog {
        .sub-title {
            font-family: La Belle Aurore;
            font-size: 34px;
            line-height: 34px;
            text-align: center;
            color: #DB834E;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            padding-bottom: 50px;
        }
    }

    .item-blog {
        padding-bottom: 50px;
        .avata-blog {
            width: 100%;
            height: 360px;
            object-fit: cover;
            margin-bottom: 30px;
            border-radius: 15px;
        }

        .content-blog-mqn{
            .tag {
                background: #DB834E;
                border-radius: 5px;
                padding: 10px 20px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                margin-bottom: 20px;
                width: calc(100% - 130px);
                text-align: center;
            }
    
            .title-blog {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                padding-bottom: 15px;
            }
    
            .desc {
                font-family: Poppins;
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 20px;
                color: #868686;
            }
    
            .info-item-blog-mqn {
                display: flex;
                flex-direction: row;
    
                .item-info-blog {
                    flex: 75%;
                    margin-right: 5px;
    
                    &:last-child {
                        float: right;
                        flex: 30%;
                    }
    
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
    
                    .text-info-blog {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: Poppins;
                        font-size: 14px;
                        line-height: 24px;
                        color: #000000;
    
                        span {
                            color: #868686;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .container-fluid {
        padding: 32px;
    }

    .partner-home-slide-group {
        padding-bottom: 0px;
        border: none;

        .btn-back,
        .btn-next {
            top: calc(50% - 14px);
        }

        .partner-home-slide {
            .item {
                padding-right: 15px;

                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }

    .banner-header{ 
        height: 750px;
        .content-header{
            transform: translate(-48%, 35%);
            .text{
                text-align: left;
                font-size: 28px;
                line-height: 38px;
                padding-bottom: 10px;
            }

            h1{
                text-align: left;
                font-size: 80px;
                line-height: 90px;
                padding-bottom: 30px;
            }

            a{
                margin: 0;
                width: 30%;
            }
        }
    }

    .banner-search-option{
        background:white;
        .list-option-search{
            flex-direction: row;
            box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
            border-radius: 20px;
            position: relative;
            top: -70px;
            .item-option-search{
                padding: 15px 20px;
                border-right: 1px solid #F4F3F3;
                border-bottom: none;
                &:last-child{
                    border-right: none;
                    padding: 0;
                }
                .content{
                    .title{
                        font-size: 16px;
                        line-height: 28px;
                    }

                    .text{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                button{
                    height: 100%;
                    border-radius: 0px 20px 20px 0px;
                }
            }
        }
    }

    .banner-top{
        .title-section{
            padding: 0;
            padding-bottom: 50px;
        }
    }

    .menber-yet{
        .title{
            text-align: left;
        }

        .text{
            text-align: left;
        }

        .content-menber-yet{
            float: right;
            margin-right: 50px;
        }
    }

    .poputour{
        .list-popular-tour{
            .item-tour{
                .content-header-tour{
                    .item-tag-time{
                        .fa{
                            margin-right: 5px;
                            margin-top: 5px;
                            float: right;
                        }
                    }

                    .avata-tour{
                        height: 238px;
                    }
                }
                
                .content-info-tour{
                    a{
                        right: 16px;
                    }
                }
            }

            .item-tour-pc{
                .content-header-tour{
                    padding: 0px;
                    .avata-tour-pc{
                        height: 455px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                       }

                    .item-tag-time-pc{
                        padding: 20px 0px 0px 0px;
                        width: calc(100% - 22px);
    
                        .item-time {
                            width: 100%;
    
                            img {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                width: 16px;
                            }
    
                            .text {
                                display: inline-block;
                                vertical-align: middle;
                                font-family: Poppins;
                                font-size: 14px;
                                line-height: 22px;
                                color: #000000;
                            }
                        }
    
                        .fa {
                            margin-right: 5px;
                            margin-top: 5px;
                            float: right;
                        }
                    }

                    .content-info-tour{
                        padding: 0px 0px 20px 0px;
                        .text-tour{
                            font-family: Poppins;
                            font-size: 14px;
                            line-height: 22px;
                            color: #6B6B6B;
                            padding-bottom: 22px;
                        }

                        .item-map{
                            border-bottom: none;
                            padding-bottom: 0;
                            margin-bottom: 10px;
                        }

                        .option-tour-mqn{
                            border-bottom: 1px solid #DADADA;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            width: calc(100% - 30px );
                            .option-tour{
                                padding-bottom: 10px;
                            }
                            .text-option{
                                font-family: Poppins;
                                font-size: 14px;
                                line-height: 22px;
                                color: #9E9E9E;
    
                            }
                            .cus-option{
                                margin-top: 8px;
                                margin-bottom: 4px;
                            }
                        }

                        a{
                            right: 45px;
                        }
                    }
                }
            }
        }
    }

    .choose-us{
        background: white;
        padding-top: 0;
        position: relative;
        .shape-choose{
            background: url('/img/shapte.png') no-repeat;
            mix-blend-mode: difference;
            background-size: cover;
            width: 100%;
            height: 110px;
            position: absolute;
            bottom: 40%;
        }
    }

    .latest-deal{
        .img-header-latest{
            height: 488px;
            padding-bottom: 0;
        }

        .content-lastest-mqn{
            .title{
                font-size: 48px;
                line-height: 68px;
                padding-bottom: 80px;
            }
        }
    }

    .customer{
        position: relative;
        display: block;

        .content-header-customer{
            padding-bottom: 10px;
        }

        .item-customer-user{
            .feedback{
                .text{
                    width: 700px;
                    margin: 0 auto 10px;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }

        .carousel-inner:after {
            content:"";
            background: url('/img/quot1.png') no-repeat;
            background-size: contain;
            mix-blend-mode: difference;
            height: 140px;
            width: 200px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .carousel-inner::before {
            content:"";
            background: url('/img/quot2.png') no-repeat;
            background-size: contain;
            mix-blend-mode: difference;
            height: 140px;
            width: 200px;
            position: absolute;
            right: 0;
            top: 0;
        }
        .carousel{
            height: 280px;
        }
    }

    .our-blog{
        .item-blog{
            .content-blog-mqn{
                padding-top: 18%;
                .tag{
                    font-size: 12px;
                    line-height: 20px;
                    width: calc(100% - 150px);
                    padding: 5px 0px;
                }
                .info-item-blog-mqn{
                    .item-info-blog{
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: 1024px) {}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}

