.blog-main-mqn {
    padding-top: 50px;

    .item-blog-main-mqn {
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-bottom: 24px;

        .img-tags-blog {
            position: relative;

            img {
                width: 100%;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
                margin-top: -1px;
            }

            .tags {
                position: absolute;
                top: 20px;
                left: 20px;
                background: #DB834E;
                border-radius: 5px;
                padding: 10px 20px;
                font-family: Poppins;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }

        .content-list-blog-mqn {
            padding: 20px;

            .info-item-blog-mqn {
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    width: 18px;
                }

                .item-info-blog {
                    flex: 75%;
                    margin-right: 5px;

                    &:last-child {
                        float: right;
                        flex: 30%;

                        img {
                            width: 19px;
                        }
                    }

                    .text-info-blog {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: Poppins;
                        font-size: 14px;
                        line-height: 24px;
                        color: #000000;

                        span {
                            color: #202F59;
                        }
                    }
                }
            }

            .title-blog {
                font-family: Poppins;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
                margin-bottom: 10px;
            }

            .text-decs {
                font-family: Poppins;
                font-size: 16px;
                line-height: 26px;
                color: #868686;
                margin-bottom: 15px;
            }

            a {
                span {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 26px;
                    color: #000000;
                    margin-right: 10px;
                    display: initial;
                }
            }
        }
    }
    
    .item-blog-detail-mqn{
        margin-bottom: 50px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(198, 197, 197, 0.2);
        .tags{
            background: #DB834E;
            border-radius: 5px;
            padding: 10px 20px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            display: unset;
        }

        .content-list-blog-mqn {
            padding: 25px 0px 0px 0px;

            .info-item-blog-mqn {
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    width: 18px;
                }

                .item-info-blog {
                    flex: 75%;
                    margin-right: 5px;

                    &:last-child {
                        float: right;
                        flex: 30%;

                        img {
                            width: 19px;
                        }
                    }

                    .text-info-blog {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: Poppins;
                        font-size: 14px;
                        line-height: 24px;
                        color: #000000;

                        span {
                            color: #202F59;
                        }
                    }
                }
            }
        }

        .title-main-blog{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 20px;
        }

        .avata-blog-main{
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 20px;
        }

        .text{
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #5F5F5F;
            padding-bottom: 10px;
        }

        .text-b{
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            padding-bottom: 10px;
        }

        .quote{
            background: #F9F4F0;
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            img{
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                margin-top: 5px;
                width: 30px;
                height: 25px;
            }

            .text-quote{
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #9E9E9E;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        .img-detail-blog{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
            margin-bottom: 10px;
        }

        ul{
            padding-top: 10px;
            li{
                list-style-type: disc;
                font-family: Poppins;
                font-size: 16px;
                line-height: 22px;
                color: #5F5F5F;
                padding-bottom: 10px;
                &:last-child{
                     padding-bottom: 0px;
                }
            }
        }
    }

    .prev-post-detail-blog{
        .natural{
            background: #DADADA;
            border-radius: 5px;
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #818181;
            padding: 10px 20px;
            margin-bottom: 50px;
            display: unset;
        }

        .prev-post-blog-item{
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin-top: 50px;
            padding: 20px;
            display: flex;
            img{
                margin-right: 20px;
                display: inline-block;
                vertical-align: middle;
            }

            .content-blog-prev{
                .sub-prev{
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 26px;
                    text-transform: uppercase;
                    color: #DB834E;
                }

                .title-blog{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
    }

    .comment-blog-mqn{
        padding-top: 50px;
        .title{
            font-family: Poppins;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            color: #000000;
        }

        .text-decs{
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #868686;
            padding: 20px 0px;
        }

         
        input{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            height: 60px;
            color: rgba(134, 134, 134, 0.5);
        }

        textarea{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            color: rgba(134, 134, 134, 0.5);
        }

        button{
            background: #DB834E;
            padding: 10px 25px;
            margin: 20px 0px;
            display: block;
            font-family: Poppins;
            font-size: 18px;
            line-height: 28px;
            color: #FFF9F9;
        }

        input[type=checkbox]{
            margin-top: -18px;
            margin-right:10px;
        }

        .form-check-label{
            font-family: Poppins;
            font-size: 14px;
            line-height: 22px;
            color: #868686;
        }
    }
}



@media (min-width: 992px) {
    .blog-main-mqn {
        .item-blog-main-mqn {
            margin-bottom: 30px;
            .content-list-blog-mqn{
                .info-item-blog-mqn{
                    margin-bottom: 10px;
                }

                .title-blog{
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 5px;
                }

                .text-decs{
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 5px;
                }

                a{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }

        .item-list-blog-search {
            margin-bottom: 50px;
            padding-left: 30px;
            input {
                height: 60px;
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 36px;
                color: white;
                border: 1px solid rgba(158, 158, 158, 0.2);
                border-right: none;
                background: #202F59;
            }

            input:focus {
                background: #202F59;
                outline: none;
                border: 1px solid rgba(158, 158, 158, 0.2);
                border-right: none;
            }


            input:active {
                background: #202F59;
                outline: none;
                border: 1px solid rgba(158, 158, 158, 0.2);
            }

            button {
                background: transparent;
                border-top: 1px solid rgba(158, 158, 158, 0.2);
                border-right: 1px solid rgba(158, 158, 158, 0.2);
                border-bottom: 1px solid rgba(158, 158, 158, 0.2);
                padding-right: 20px;
                border-left: none;
                background: #202F59;
                border-radius: 0px 5px 5px 0px;
                
                .fa {
                    font-size: 22px;
                    color: white;
                }
            }
        }

        .item-list-blog-categories {
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 30px 50px 0px;
            margin-bottom: 50px;
            margin-left: 30px;
            .title-item {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                font-family: Poppins;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                width: calc(100% + 100px);
                margin-left: -50px;
                padding-left: 50px;
            }

            .list-item-popular-tour {
                .item-popular-mqn-lala {
                    margin-bottom: 30px;

                    .item-title-popular {
                        img {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 15px;
                        }

                        .title-poplar-blog {
                            display: inline-block;
                            vertical-align: middle;
                            font-family: Poppins;
                            font-size: 18px;
                            line-height: 28px;
                            color: #000000;
                        }
                    }

                    .number-list {
                        background: rgba(218, 218, 218, 0.21);
                        width: 30px;
                        height: 30px;
                        display: block;
                        position: relative;
                        border-radius: 50%;
                        float: right;

                        span {
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: Poppins;
                            font-size: 16px;
                            line-height: 26px;
                            color: #000000;
                        }
                    }
                }

            }
        }

        .item-list-blog-recent-post {
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 30px 50px;
            margin-bottom: 50px;
            margin-left: 30px;
            .title-item {
                padding-bottom: 20px;
                margin-bottom: 30px;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                font-family: Poppins;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                width: calc(100% + 100px);
                margin-left: -50px;
                padding-left: 50px;
            }

            .item-blog-popular-mqn-slidebar {
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                margin-bottom: 30px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: row;
                width: calc(100% + 100px);
                margin-left: -50px;
                padding-left: 50px;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0;
                }

                .avata-poppular-blog-slidebar {
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 10px;
                }
                }

                .content-blog-poppular-blog-slidebar {
                    padding:15px 20px 0px 20px;

                    .title {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        color: #000000;
                    }

                    .time {
                        font-family: Poppins;
                        font-size: 14px;
                        line-height: 24px;
                        color: #868686;
                    }
                }
            }
        }

        .item-list-blog-popular-tags {
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 30px 50px 10px;
            margin-bottom: 50px;
            margin-left: 30px;
            .title-item {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                font-family: Poppins;
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                width: calc(100% + 100px);
                margin-left: -50px;
                padding-left: 50px;
            }

            .tags-popular-mqn-blog-pro {
               ul{
                   padding: 0;
                   li{
                    display: inline;
                    line-height: 60px;
                    margin-right: 20px;
                    a {
                        background: #FFFFFF;
                        border: 1px solid #9E9E9E;
                        box-sizing: border-box;
                        border-radius: 50px;
                        padding: 10px 20px;
                        span {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 26px;
                            color: #9E9E9E;
                        }
                    }
                   }
               }
            }
        }

        .prev-post-detail-blog{
            .prev-post-blog-item{
                width: 45%;
                padding: 30px;
            }
        }

        .item-blog-detail-mqn{
            .content-list-blog-mqn{
                padding:0;
            }

            .title-main-blog{
                font-size:32px;
                line-height:42px;
                padding:20px 0px 0px 0px;
            }

            .img-detail-blog,
            .avata-blog-main{
                height:550px
            }
            
            .quote{
                padding: 25px;
                img{
                    width: 50px;
                    height: 40px;
                    margin-right: 22px;
                }
            }
            
            ul li,
            .text-b,
            .text{
                font-size: 14px;
                line-height: 24px;
            }
            
        }

        .comment-blog-mqn{
            .title{
                font-size: 22px;
                line-height: 32px;
            }

            input{
                margin-bottom: 30px;
            }

            .text-decs{
                padding: 10px 0px;
            }

            button{
                margin-top: 60px;
            }
        }
    }
}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}
