
.item-body-about{
    .item-vision-main-mqn{
        .item-dropdown-menu{
            padding: 36px 0px 22px;
            border-bottom: 1px solid #DBDBDB;
            
            ul{
                padding: 0px;
            }

            ul li{
                line-height: 42px;
                list-style-type: none;
            }

            li a{
                text-align: left;
                font: normal normal 400 16px/27px Montserrat;
                letter-spacing: 0px;
                color: #6D6D6D;
                text-transform: uppercase;
            }

            .active-menu-about {
                a{
                    text-align: left;
                    font: normal normal 400 16px/27px Montserrat;
                    letter-spacing: 0px;
                    color: #D30D1C;
                    text-transform: uppercase;
                    border-left: 5px solid #D30D1C;
                    padding-left: 12px;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .item-body-about{
        .item-vision-main-mqn{
            .item-dropdown-menu{
                border-bottom:none;
            }
        }
    }
}

