
.bd-none{
    border: none !important;
}

.poputour-list {
    background: white;
    padding-top: 0;
    .item-total-sort-mqn {
        padding-bottom: 25px;
        margin-bottom: 40px;
        border-bottom: 2px solid rgba(198, 197, 197, 0.2);
        .total-popup-tour {
            font-family: Poppins;
            font-size: 18px;
            line-height: 32px;
            color: #000000;

            span {
                color: #868686;
            }
        }

        .item-sort-tour-mqn {
            float: right;
            display: flex;
            .item-sort {
                float: left;
                margin-right: 20px;

                .text-sort {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    font-family: Poppins;
                    font-size: 18px;
                    line-height: 18px;
                    color: #868686;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .dropdown{
                select {
                    margin-top: -8px;
                    padding: 5px 40px 5px 8px;
                    border: 1px solid #C6C5C5;
                    height: 40px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: url(/img/arrow-select.svg) 96%/15% no-repeat white;
                    background-position: 85% 15px;
                    border-radius: 5px;
                    font-family: Poppins;
                    font-size: 16px;
                    color: #868686;
                  }
                  
                  
                  /* CAUTION: Internet Explorer hackery ahead */
                  
                  
                  select::-ms-expand {
                      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
                  }
            }
        }
    }

    .list-popular-tour{
        .item-tour{
            box-shadow: 0 0 30px 0 rgb(6 30 98 / 8%);
        }
    }
}


.pagination-mqn{
    padding: 50px 0px 50px;

    ul li{
        margin-right: 15px;
    }

    .page-item{
        .page-link{
            font-family: Poppins;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #9E9E9E;
            border: none;
        }
    }

    .page-item.active .page-link{
        padding: 10px 20px;
        background-color: #DB834E;
        border-color: #DB834E;
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        border-radius: 50%;
        color: white;
        &:hover{
            background-color: #DB834E !important;
            border-color: #DB834E !important;
            color: white !important;
        }
    }
}

.content-detail-tour{
    background: #F6F7FB;
    padding: 100px 0px 50px 0px;
   .item-title-detail-tour{
       .title{
        font-family: Poppins;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #000000;
        padding-bottom: 10px;
       }
       .decs-map-location{
        padding-bottom: 10px;
        margin-bottom: 20px;
           img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
           }

           .location{
            display: inline-block;
            vertical-align: middle;
            font-family: Poppins;
            font-size: 18px;
            line-height: 27px;
            color: #9E9E9E;
            
           }
       }
   } 

    .media-tour{
        display: flex;
        flex-direction: row;
        button{
            background: #FFFFFF;
            border-radius: 50px;
            padding: 10px;
            margin-right: 15px;
            width: 150px;
            border: none;
            height: 50px;
            &:last-child{
                right: 0;
                position: absolute;
            }
            img{
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;            
            }

            span{
                display: inline-block;
                vertical-align: middle;            
                font-family: Poppins;
                font-size: 16px;
                line-height: 26px;
                color: #9E9E9E;       
                margin-top: 2px;
            }
        }
    }
}

.list-img-tour-head{
    .slide-tour-perfect{
        .partner-home-slide-group{
            .btn-back{
                left: 24px;
                top: calc(50% - 14px);
            }
            .btn-next{
                right: 24px;
                top: calc(50% - 14px);
            }
            .partner-home-slide{
                .item{
                    .item-tour-perfect{
                        img{
                            height: 400px;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

.info-detai-tour-head{
    background: #F6F7FB;
    padding: 30px 0px 0px 0px;
    .item-content-tour-head-mqn{
        .content-tour-head-mqn{
            .title{
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #000000;
                padding-bottom: 5px;
            }
    
            .text{
                font-family: Poppins;
                font-size: 18px;
                line-height: 26px;
                color: #9E9E9E;
                padding-bottom: 35px;
                span{
                    color: #DB834E;
                    font-weight: 500;
                }
            }
        }
    }
}

.item-content-detail-tour{
    padding: 50px 0px;
    .item-overview-tour{
        .text-bold-italic{
            font-family: Poppins;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            padding-bottom: 20px;
        }

        .text-italic{
            font-family: Poppins;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #5F5F5F;
            padding-bottom: 20px;
        }

        .text{
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #5F5F5F;
            padding-top: 50px;
        }
    }

    .title{
        font-family: Poppins;
        font-weight: 600;
        font-size: 26px;
        line-height: 36x;
        padding-bottom: 20px;
        color: #000000;
    }

    .line-height{
        border-top: 2px solid rgb(198 197 197 / 32%);
        display: block;
        width: 100%;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    
    .included{
        .item-included{
            padding-bottom: 15px;
            img{
                float: left;
                margin-right: 20px;
                width: 22px;
                height: 30px;
            }

            .text{
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #5F5F5F;
            }
        }
    }

    .tour-plan{
        .koh-tab-content{
            padding-bottom: 30px;
            cursor: pointer;
            .koh-faq-question{
                background: #EFF1F6;
                border-radius: 10px;
                padding: 20px 20px 5px 20px;
                img{
                    float: left;
                    margin-right: 20px;
                    width: 22px;
                    height: 30px;
                }
    
                p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: #DB834E;
                    padding-right: 20px;
                    span{
                        color: #000000;
                    }
                }
            }
            
            .koh-faq-answer {
               padding-top: 30px;
               display: none;
               .text{
                font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #5F5F5F;
                padding-bottom: 20px;
               }

               .text-bold{
                font-family: Poppins;
                font-weight: bold;
                font-size: 16px;
                line-height: 28px;
                color: #5F5F5F;
                padding-bottom: 20px;
               }
            }

            .icon {
                font-size: 10px;
                padding-right: 5px;
            }
        
            .fa {
                transition: transform 0.2s;
                float: right;
                margin-top: 7px;
                color: #A4A4A4;
            }
        
            .fa.active {
                transform: rotateZ(180deg);
            }
        }
      
        .active{
            .koh-faq-answer{
                display: block;
            }

            .fa {
                transform: rotateZ(180deg);
            }

            .fa.active {
                transform: rotateZ(0deg);
            }
        }

    }

    .tour-map{
        .contact-map{
            padding: 0;
        }
    }

    .tour-relate-to{
        overflow-x: hidden;
        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            
                li {
                    cursor: pointer;
                }
            
                button {
                    display: block;
                    padding: 0;
                    border: none;
                    border-radius: 100%;
                    text-indent: -9999px;
                    background-color: #E5E5E5;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 1;
                }
            
                li.slick-active button {
                    background-color: #DB834E;
                    width: 15px;
                    height: 15px;
                    top: -3px;
                    position: relative;
                }
            
        }
        .baner-slide-tour-relate{
            .item{
                .item-tour {
                    background: #FFFFFF;
                    border-radius: 10px;
                    margin-bottom: 60px;
                    
                    .content-header-tour {
                        position: relative;
        
                        .avata-tour {
                            border-radius: 10px;
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
        
                        .item-tag-time {
                            position: absolute;
                            bottom: -15px;
                            left: 15px;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
                            border-radius: 5px;
                            padding: 10px;
                            width: calc(100% - 30px);
        
                            .item-time {
                                width: 100%;
        
                                img {
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 5px;
                                    width: 16px;
                                }
        
                                .text {
                                    display: inline-block;
                                    vertical-align: middle;
                                    font-family: Poppins;
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #000000;
                                }
                            }
        
                            .fa {
                                margin-top: 3px;
                                margin-right: 3px;
                                float: right;
                            }
                        }
                    }
        
                    .content-info-tour {
                        padding: 18px;
                        box-shadow: 0px -6px 30px rgb(0 0 0 / 10%);
                        .title {
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            color: #000000;
                            padding: 12px 0px;
                        }
        
                        .item-map {
                            padding-bottom: 22px;
                            margin-left: 0px;
                            border-bottom: 1px solid #DADADA;
                            margin-bottom: 22px;
        
                            img {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 6px;
                            }
        
                            .location {
                                vertical-align: middle;
                                display: inline-block;
                                font-family: Poppins;
                                font-size: 16px;
                                line-height: 24px;
                                color: #9E9E9E;
                            }
                        }
        
                        .price-tour {
                            .from {
                                font-family: Poppins;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 21px;
                                color: #9E9E9E;
                            }
        
                            .price {
                                font-family: Poppins;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 36px;
                                color: #DB834E;
                            }
                        }
        
                        a {
                            position: absolute;
                            padding-top: 26px;
        
                            span {
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 26px;
                                color: #202F59;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .review{
        .rate-number{
            padding-bottom: 40px;
            .number-rate{
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #000000;
                span{
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 60px;
                    color: #DB834E;
                }
            }

            .status-rate{
                font-family: Poppins;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #000000;
                padding-bottom: 5px;
            }
            
            .total-rate{
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #6C6C6C;
            }
        }

        .item-bar-mqn{
            .content-text{
                .text{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    color: #9E9E9E;
                    padding-bottom: 15px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .number-text{
                    font-family: Poppins;
                    font-size: 16px;
                    line-height: 30px;
                    float: right;
                    color: #000000;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .bar {
                background: #EAEAEA;
                width: 100%;
                height: 7px;
                margin-bottom: 40px;
                .bar-inner {
                    background-color: #DB834E;
                    width: 0%;
                    height: 100%;
                    position: relative;
                    transition: width 3000ms linear;
                  }
                }
        }

        .item-comment-customer{
            padding: 50px 0px;
            .total-comment-customer{
                font-family: Poppins;
                font-size: 18px;
                line-height: 27px;
                color: #9E9E9E;
                border-top: 1px solid rgba(198, 197, 197, 0.2);
                border-bottom: 1px solid rgba(198, 197, 197, 0.2);
                padding: 30px 0px;
            }
        }
    }

    .item-list-comment{
        border-bottom: 1px solid rgba(198, 197, 197, 0.2);
        padding-bottom: 30px;
        margin-bottom: 30px;
        &:last-child{
            border-bottom: none !important;
        }

        .avata-comment{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .content-comment{
            padding-bottom: 30px;
            .name{
                font-family: Poppins;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
                padding-bottom: 5px;
            }

            .datetime-comment{
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #9E9E9E;

            }
        }

        .item-service-tour-detail{
            display: flex;
            flex-wrap: wrap;
            .name-service{
                font-family: Poppins;
                font-size: 18px;
                line-height: 28px;
                color: #6C6C6C;
            }
            .item-service-tour-detail-right,
            .item-service-tour-detail-left{
                flex: 50%;
                padding-bottom: 30px;
            }
        }

        .form-comment-customer{
            img{
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

            .text{
                display: inline-block;
                vertical-align: middle;
                font-family: Poppins;
                font-size: 18px;
                line-height: 28px;
                color: #9E9E9E;
            }
        }
    }

    .item-button-old-comment{
        border-top: 3px solid white;
        margin-top: -32px;
        button{
            background: #FFFFFF;
            border: 2px solid #DB834E;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 10px 20px;
            span{
                font-family: Poppins;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                margin-left: 15px;
            }
        }
    }

    .form-contact-main{
        .text{
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
            color: #868686;
            padding-bottom: 30px;
            margin-top: -10px;
        }

        input{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            height: 60px;
            color: rgba(134, 134, 134, 0.5);
        }

        textarea{
            font-family: Poppins;
            background: #FFFFFF;
            border: 2px solid rgba(158, 158, 158, 0.2);
            box-sizing: border-box;
            border-radius: 3px;
            color: rgba(134, 134, 134, 0.5);
        }
        
        .form-check{
            input{
                margin-top: -18px;
                margin-right:10px;
            }
    
            .form-check-label{
                font-family: Poppins;
                font-size: 14px;
                line-height: 22px;
                color: #868686;
                padding-bottom: 30px;
            
            }
        }
     
        button{
            background: #DB834E;
            padding: 10px 30px;
            font-family: Poppins;
            font-size: 18px;
            line-height: 28px;
            color: #FFF9F9;
        }

        .item-rateting-form{
            display: flex;
            flex-direction: row;
            padding-bottom: 30px;
            .item-text-rateting{
                font-family: Poppins;
                font-size: 20px;
                line-height: 30px;
                color: #6C6C6C;
                margin-top: 8px;
                margin-right: 10px;
                flex: 50%;
            }

            .half-stars-example {
                flex: 50%;
                /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
                .rating-group {
                  display: inline-flex;
                }
                
                /* make hover effect work properly in IE */
                .rating__icon {
                  pointer-events: none;
                }
                
                /* hide radio inputs */
                .rating__input {
                 position: absolute !important;
                 left: -9999px !important;
                }
              
                /* set icon padding and size */
                .rating__label {
                  cursor: pointer;
                  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
                  padding: 0 5px;
                  font-size: 24px;
                }
              
                /* add padding and positioning to half star labels */
                .rating__label--half {
                  padding-right: 0;
                  margin-right: -32px;
                  z-index: 2;
                }
                
                /* set default star color */
                .rating__icon--star {
                  color: #2DD75D;
                }
                
                /* set color of none icon when unchecked */
                .rating__icon--none {
                  color: #eee;
                }
              
                /* if none icon is checked, make it red */
                .rating__input--none:checked + .rating__label .rating__icon--none {
                  color: red;
                }
              
                /* if any input is checked, make its following siblings grey */
                .rating__input:checked ~ .rating__label .rating__icon--star {
                  color: #ddd;
                }
                
                /* make all stars #2DD75D on rating group hover */
                .rating-group:hover .rating__label .rating__icon--star,
                .rating-group:hover .rating__label--half .rating__icon--star {
                  color: #2DD75D;
                }
              
                /* make hovered input's following siblings grey on hover */
                .rating__input:hover ~ .rating__label .rating__icon--star,
                .rating__input:hover ~ .rating__label--half .rating__icon--star {
                  color: #ddd;
                }
                
                /* make none icon grey on rating group hover */
                .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
                   color: #eee;
                }
              
                /* make none icon red on hover */
                .rating__input--none:hover + .rating__label .rating__icon--none {
                  color: red;
                }
              }
        }
        
    }


    .slide-right-detail-tour-mqn{
        margin-top: 50px;
        .banner-book-tour{
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 24px;
            margin-bottom: 24px;
            .item-taitho-phone{
                background: #DB834E;
                border-radius: 5px 5px 0px 0px;
                transform: matrix(1, 0, 0, -1, 0, 0);
                width: 100%;
                height: 8px;
                margin-top: -24px;
                margin-bottom: 50px;
            }

            .title{
                font-family: Poppins;
                font-weight: 600;
                font-size: 26px;
                line-height: 36px;
                padding-bottom: 30px;
                color: #000000;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                width: calc(100% + 48px);
                margin-bottom: 30px;
                margin-left: -24px;
                padding-left: 24px;
            }

            .form-option-time{
                display: flex;
                flex-direction: row;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                width: calc(100% + 48px);
                margin-bottom: 30px;
                margin-left: -24px;
                padding-left: 24px;
                padding-bottom: 14px;
                .text{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: #000000;
                    margin-right: 38px;
                }

                .text-time{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: #000000;
                    margin-right: 38px;
                    margin-top: -8px;
                }

                .total-price{
                    font-family: Poppins;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 36px;
                    color: #DB834E;
                    text-align: right;
                    flex: 50%;
                    margin-top: -8px;
                    margin-right: 24px;
                }

                input[type="date"] {
                    position: relative;
                    padding-left: 45px;
                    width: calc(100% - 45px);
                    font-family: Poppins;
                    color: #000000;
                  }
                  
                  input[type="date"]::-webkit-calendar-picker-indicator {
                    color: transparent;
                    background: none;
                    z-index: 1;
                  }
                  
                  input[type="date"]:before {
                    content: "";
                    display: block;
                    background: url(/img/Calendar-form.png) no-repeat;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 6px;
                    left: 12px;
                    color: #999;
                    padding-right: 20px;
                  }

                  .form-check-label{
                    font-family: Nunito;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    margin-top: -4px;
                  }

                  .form-check-inline{
                    .form-check-input{
                        margin-top: -4px;
                    }
                  }
            }

            .form-option-tickets{
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                width: calc(100% + 48px);
                margin-bottom: 30px;
                margin-left: -24px;
                padding-left: 24px;
                padding-bottom: 14px;
                .title-tickets{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: #000000;
                    margin-right: 38px;
                    padding-bottom: 5px;
                }

                .chose-number-user{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 22px;
                    .item-chose-user{
                        flex: 70%;
                        .text{
                            font-family: Poppins;
                            font-size: 16px;
                            line-height: 26px;
                            color: #9E9E9E;
                        }

                        .price{
                            font-family: Poppins;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 26px;
                            color: #868686;
                        }
                    }

                    .item-sort-tour-mqn {
                        flex: 30%;
                        position: relative;
                        left: -24px;
                    }
                }
                .form-check{
                    border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                    width: calc(100% + 24px);
                    margin-bottom: 10px;
                    margin-left: -24px;
                    padding-left: 42px;
                    padding-bottom: 5px;
                    .form-check-label{
                        font-family: Poppins;
                        font-size: 16px;
                        line-height: 36px;
                        margin-left: 10px;
                        color: #000000;
                        padding-bottom: 10px;
                    }
    
                    .form-check-input{
                        margin-top: 12px;
                    }
                }
                .text-mqn{
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: #9E9E9E;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    margin-top: -15px;
                    span{
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 36px;
                        color: #000000;
                    }
                }
            }

            .submit{
                background: #DB834E;
                border-radius: 5px;
                padding: 10px;
                width: 100%;
                font-family: Poppins;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                border: none;
                color: #FFFFFF;
                margin-top: -15px;
            }
        }

        .banner-recent-post{
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 24px 24px 0px 24px;
            .title{
                font-family: Poppins;
                font-weight: 600;
                font-size: 26px;
                line-height: 36px;
                padding-bottom: 30px;
                color: #000000;
                border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                width: calc(100% + 48px);
                margin-left: -24px;
                padding-left: 24px;
                margin-bottom: 10px;
            }

            .list-tour-recent-post{
                padding: 24px 24px 0px 24px;
                .item-tour-recent-post{
                    display: flex;
                    flex-direction: row;
                    border-bottom: 2px solid rgba(198, 197, 197, 0.2);
                    width: calc(100% + 100px);
                    margin-bottom: 30px;
                    margin-left: -48px;
                    padding-bottom: 30px;
                    padding-left: 24px;
                    &:last-child{
                        border-bottom: none;
                    }
                    .avata-recent-post{
                        img{
                            border-radius: 10px;
                            width: 80px;
                            height: 80px;
                            margin-right: 15px;
                        }
                    }
    
                    .content-recent-post{
                        .title-recent-post{
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 26px;
                            color: #000000;
                            padding-bottom: 3px;
                        }
    
                        .price-recent-post{
                            font-family: Poppins;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 28px;
                            color: #DB834E;
                            padding-top: 3px;
                        }
                    }
                }
                
            }
        }
    }

}

@media (min-width: 992px) {
    .poputour-list{
        .item-total-sort-mqn{
            padding-bottom: 25px;
        }
    }

    .info-detai-tour-head{
        .item-content-tour-head-mqn{
            display: flex;
            flex-direction: row;
            .text-review{
                float: right;
               
            }

            .img-content-tour{
                margin: 10px 20px 0px 0px;
            }
        }
    }

    .pagination-mqn{
        .page-item.active{
            .page-link{
                padding: 5px 16px;
            }
        }
    }

    .content-detail-tour{
        .media-tour{
            button{
                margin-left: -30px;
            }
        }
    }

    .list-img-tour-head{
        background: #F6F7FB;
        .slide-tour-perfect{
            .partner-home-slide-group{
                .partner-home-slide{
                    .item{
                        padding-left: 30px;
                        &:last-child{
                            padding-right: 0px;
                            margin-left: 50%;
                        }
                        .item-tour-perfect{
                            img{
                                height: 400px;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    .item-content-detail-tour{
        .tour-relate-to{
            .baner-slide-tour-relate{
                .item{
                    padding-left: 15px;
                    &:last-child{
                        padding-right: 15px;
                    }

                    .item-tour{
                        .content-info-tour{
                            box-shadow: 0px -6px 20px rgb(0 0 0 / 10%);
                        }
                    }
                }
            }
        }

        .item-list-comment{
            .content-comment{
                .name{
                    font-size: 18px;
                    line-height: 30px;
                }

                .datetime-comment{
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            .avata-comment{
                padding: 10px;
                margin-top: -5px;
            }

            .item-service-tour-detail{
                .item-service-tour-detail-right,
                .item-service-tour-detail-left{
                    flex: 20%;
                }
            }
        }

        .form-contact-main{
            .item-rateting-form{
                padding-bottom: 15px;
                .item-text-rateting{
                    flex: 15%;
                    font-size: 18px;
                }

                .half-stars-example{
                    flex: 85%;
                    position: absolute;
                    right: 0;
                }

                .half-stars-example{
                    .rating__label--half{
                        margin-right: -33px;
                    }

                    .rating__labe{
                        font-size: 20px;
                    }
                }
            }

            input{
                margin-bottom: 30px;
            }
        }

        .slide-right-detail-tour-mqn{
            width: calc(100% - 40px);
            float: right;
        }
    }
}