.best-project {
    margin-top: 118px;
    z-index: 20;
    position: relative;

    .title-group {
        .title {
            font: normal normal normal 30px/41px Source Serif Pro;
            color: $text-blue;
            margin-bottom: 26px;
        }
    }

    .project-item {
        position: relative;
        cursor: pointer;

        .background {
            width: 100%;
            padding-bottom: calc(100% /6 * 4);
            background-size: cover;
        }

        .backdrop {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 80px;
            background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
            z-index: 1;
        }

        .backdrop-pc {
            display: none;
        }

        .project-item-title {
            position: absolute;
            left: 0px;
            bottom: 0px;
            color: #fff;
            font: normal normal 400 20px/24px Montserrat;
            text-shadow: 0px 3px 6px #00000029;
            padding: 16px 11px;
            z-index: 2;
        }
    }

    .project-detail-content {
        background: #002A48 0% 0% no-repeat padding-box;
        padding: 32px;
        height: 100%;

        .detail-title {
            font: normal normal normal 24px/33px Source Serif Pro;
            color: #FFFFFF;
            margin-bottom: 32px;
        }

        .detail-content {
            font: normal normal normal 14px/24px Montserrat;
            color: #FFFFFF;
            opacity: 0.44;
        }
    }
}

@media (min-width: 992px) {
    .best-project {

        .col-lg-4-5 {
            max-width: 33.333333333%;
            flex: 0 0 33.333333333%;
        }

        .title-group {
            position: relative;

            .readmore-project {
                position: absolute;
                right: 0px;
                bottom: 10px;

                a {
                    color: unset;
                }
            }
        }

        .project-item {
            .background.square-lg {
                padding-bottom: 100%;
            }

            .backdrop-pc {
                transition: visibility 0s 300ms, opacity 300ms linear;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                bottom: 0px;
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                a{
                    text-align: center;
                }

                .backdrop-color {
                    opacity: 0.8;
                    background: #a00612 0% 0% no-repeat padding-box;
                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    top: 0px;
                    left: 0px;
                }

                .backdrop-pc-title {
                    font: normal normal 600 24px/29px Montserrat;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    text-shadow: 0px 3px 6px #00000029;
                    text-align: center;
                    padding: 0px 15px;
                }

                .detail-link {
                    font: normal normal normal 12px/15px Montserrat;
                    color: #FFFFFF;
                    text-shadow: 0px 3px 6px #00000029;
                    text-transform: uppercase;
                    border-bottom: 1px solid #fff;
                    display: inline-block;
                }
            }

            &:hover {
                .backdrop-pc {
                    transition: opacity 300ms linear;
                    visibility: visible;
                    opacity: 1;
                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);
                }
            }
        }

    }

    .project-detail-content {
        .detail-title {
            font: normal normal normal 28px/38px Source Serif Pro;
        }
    }
}
